html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: block;
    font-family: system-ui;
    margin: 0;
    line-height: inherit;
    background: #fafafa;
    color: #2B2B2B;
}

.envlope {
    padding-bottom: 1rem;
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.search {
    clear: both;
    margin: 0.5rem 1rem;
    color: #2B2B2B;
}

.search input[type=text] {
    font-family: system-ui;
    padding: .75rem 1rem;
    background: #ffffff;
    width: 100%;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
}

.search input[type=text]:focus, .search input[type=text]:hover {
    outline: none;
    border: 1px solid #2b2b2b !important;
}

.search input[type=submit] {
    display: none;
    visibility: hidden;
}

.paper {
    padding: 0 1rem;
}

.date-time {
    clear: both;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background: #0070c0;
    border-radius: 10px;
    color: #ffffff;
}

h1 {
    font-size: 2.25rem;
    font-weight: lighter;
    color: #0070c0;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #0070c0;
    margin: 0.5rem 1rem;
}

p {
    margin: 1rem 0;
    max-width: 34rem;
    font-size: 1.1rem;
    line-height: 1.75rem;
}

ul {
    list-style: none;
    padding: 0 0.5rem 0 0;
}

ul.list-dash {
    list-style: none;
    padding-left: 0.5rem;
}

ul li {
    margin: 0.25em 0;
}

ul.list-dash li::before {
    content: "‒";
    color: #0070c0;
}

.font-bold {
    font-weight: bold;
}

p a, ul.list-dash a {
    color: #2B2B2B;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.2em;
    text-underline-offset: -0.05em;
    text-decoration-color: rgba(0, 112, 192, .2); /* rgba(0, 112, 192, .5); */
}

p a:hover, ul.list-dash a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.05em;
    text-decoration-color: rgba(0, 112, 192, 1);
}

a.button {
    background: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #0070c0;
    margin-bottom: 0.5rem
}

a.button.inline {
    background: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #0070c0;
    margin-bottom: 0.5rem
}

a.button:hover {
    background: #0070c0;
    color: #ffffff;
}

hr {
    height: 5px;
    border: 0;
    background: #ffffff;
    margin: 1rem 0;
}

#current-time {
    float: right;
    font-weight: bold;
}

.clear {
    clear: both;
}


@media only screen and (min-width: 400px) {
    h1 {
        font-size: 3rem;
    }

    .envlope {
        padding-top: 5vh;
    }

    .block {
        float: left;
        width: 50%;
    }
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 4rem;
    }

    .envlope {
        padding-top: 12vh;
    }

    .block {
        float: left;
        width: 25%;
    }
}