body {
  background:#e7eff0;
}

.date-time, a.button.dark, a.toggle-link.active {
  background: #15616d;
}

h1, h2, ul.list-dash li::before,  a.button, .a.button.inline, a.button.dark:hover, span.seperator, a.toggle-link {
  color: #001524;
}

span.seperator, a.toggle-link {
  border-color:#5b9098;
}

a.button:hover, .a.button.inline:hover, .search input[type=text]:hover, .search input[type=text]:focus {
  border-color:#5b9098!important;
}

a.button:hover, .a.button.inline:hover {
  border-color:#ffffff;
}

a.button.dark:hover, .a.button.inline.dark:hover {
  border-color:#5b9098!important;
  background: #15616d;
  color:#ffffff;
}

@media only screen and (min-width: 700px) {
  .envlope {
    padding-top: 12vh;
  }
}